.login-wrapper {
  background-image: url(../../../assets/LOGIN.png);
  background-repeat: no-repeat;
  background-size: 65%;
  background-position-y: 50%;
  /*background-position-x: 100.6%;*/
  background-color: white
}

  .login-wrapper .login {
    min-height: 80vh;
  }


@media screen and (max-width: 1024px) and (min-width: 556px) {
  .login-wrapper {
    /* background-image: url(images/DRC_PAMC_Logo.jpg); */
    background-repeat: no-repeat;
    background-size: 42%;
    background-position-y: 50%;
    background-position-x: 96%;
  }
}
