<div class="main-container">
  <div class="content-container">
    <nav class="sidenav">
      <section class="sidenav-content">
        <a class="nav-link" id="detail" (click)="ShowAssetDetail() ">
          Add/Manage Assets Detail
        </a>
        <a class="nav-link" id="asset" (click)="ShowAssets() ">
          Add/Manage Assets
        </a>
      </section>
    </nav>
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-12" *ngIf="this.assets">
          <div class="clr-row">
            <div class="clr-col-10"></div>
            <div class="clr-col-2">
              <button class="btn btn-success-outline" (click)="OpenNewAsset()">New Asset</button>
              <button class="btn btn-success-outline" (click)="ExportAssetList()">EXPORT LIST</button>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-12">
              <clr-datagrid>
                <clr-dg-column>
                  REGID
                  <clr-dg-string-filter [clrDgStringFilter]="assetRegIdFilter"></clr-dg-string-filter>
                </clr-dg-column>
                <clr-dg-column>
                  DESCRIPTION
                  <clr-dg-string-filter [clrDgStringFilter]="assetDescriptionFilter"></clr-dg-string-filter>
                </clr-dg-column>
                <clr-dg-column>
                  FRIENDLY NAME
                  <clr-dg-string-filter [clrDgStringFilter]="assetFriendlyFilter"></clr-dg-string-filter>
                </clr-dg-column>
                <clr-dg-column>
                  CELL
                  <clr-dg-string-filter [clrDgStringFilter]="assetCellFilter"></clr-dg-string-filter>
                </clr-dg-column>
                <clr-dg-column *ngIf="false">CREATEBY</clr-dg-column>
                <clr-dg-column *ngIf="false">CREATEDATE</clr-dg-column>
                <clr-dg-column *ngIf="false">CHANGEBY</clr-dg-column>
                <clr-dg-column *ngIf="false">CHANGEDATE</clr-dg-column>
                <clr-dg-column>EDIT/DELETE</clr-dg-column>
                <clr-dg-row *clrDgItems="let dep of this._appService.TransactionService.listAssets" [clrDgItem]="dep">
                  <clr-dg-cell>{{dep.regId}}</clr-dg-cell>
                  <clr-dg-cell>{{dep.desc}}</clr-dg-cell>
                  <clr-dg-cell>{{dep.frName}}</clr-dg-cell>
                  <clr-dg-cell>{{dep.cell}}</clr-dg-cell>
                  <clr-dg-cell *ngIf="false">{{dep.createBy}}</clr-dg-cell>
                  <clr-dg-cell *ngIf="false">{{dep.createDate}}</clr-dg-cell>

                  <clr-dg-cell *ngIf="false">{{dep.changeBy}}</clr-dg-cell>
                  <clr-dg-cell *ngIf="false">{{dep.changeDate}}</clr-dg-cell>
                  <clr-dg-cell>
                    <button class="btn btn-icon btn-Secondary btn-sm" type="submit"
                            (click)="EditAsset(dep)">
                      <clr-icon shape="pencil"></clr-icon>
                    </button>
                    <clr-checkbox-wrapper>
                      <input type="checkbox" clrCheckbox (change)="DeleteAsset(dep)" id="aDelete" [checked]="dep.deleted" />
                      <label>Deleted</label>
                    </clr-checkbox-wrapper>
                  </clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>{{this._appService.TransactionService.listAssets.length}} Assets</clr-dg-footer>
              </clr-datagrid>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row" *ngIf="this.assetDet">
        <div class="clr-col-12">
          <div class="clr-row">
            <div class="clr-col-10"></div>
            <div class="clr-col-2">
              <button class="btn btn-success-outline" (click)="OpenNewAssetDetail()">New Asset Detail</button>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-12">
              <clr-datagrid>
                <clr-dg-column>
                  DESCRIPTION
                  <clr-dg-string-filter [clrDgStringFilter]="assetDetailFilter"></clr-dg-string-filter>
                </clr-dg-column>
                <clr-dg-column *ngIf="false">CREATEBY</clr-dg-column>
                <clr-dg-column *ngIf="false">CREATEDATE</clr-dg-column>
                <clr-dg-column *ngIf="false">CHANGEBY</clr-dg-column>
                <clr-dg-column *ngIf="false">CHANGEDATE</clr-dg-column>
                <clr-dg-column>EDIT/DELETE</clr-dg-column>
                <clr-dg-row *clrDgItems="let dep of this._appService.TransactionService.listAssetDetail" [clrDgItem]="dep">
                  <clr-dg-cell>{{dep.desc}}</clr-dg-cell>
                  <clr-dg-cell *ngIf="false">{{dep.createBy}}</clr-dg-cell>
                  <clr-dg-cell *ngIf="false">{{dep.createDate}}</clr-dg-cell>
                  <clr-dg-cell *ngIf="false">{{dep.changeBy}}</clr-dg-cell>
                  <clr-dg-cell *ngIf="false">{{dep.changeDate}}</clr-dg-cell>
                  <clr-dg-cell>
                    <button class="btn btn-icon btn-Secondary btn-sm" type="submit"
                            (click)="EditAssetDetail(dep)">
                      <clr-icon shape="pencil"></clr-icon>
                    </button>
                    <clr-checkbox-wrapper>
                      <input type="checkbox" clrCheckbox (change)="DeleteAssetDetail(dep)" id="adDelete" [checked]="dep.deleted" />
                      <label>Deleted</label>
                    </clr-checkbox-wrapper>
                  </clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>{{this._appService.TransactionService.listAssetDetail.length}} asset details</clr-dg-footer>
              </clr-datagrid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="this._appService.TransactionService.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p style="align-self:center">
      <span class="spinner">
        Loading...
      </span>
    </p>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.editAssetDet" [clrModalClosable]="false" [clrModalSize]="md">
  <h3 class="modal-title">Edit Asset Detail</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="assetDetForm">
      <clr-input-container>
        <label>Description</label>
        <input formControlName="desc" clrInput style="width: 250px" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.editAssetDet = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="UpdateAssetDetail()">Update</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.newAssetDet" [clrModalClosable]="false" [clrModalSize]="md">
  <h3 class="modal-title">New Asset Detail</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="assetDetForm">
      <clr-input-container>
        <label>Description</label>
        <input formControlName="desc" clrInput style="width: 250px" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.newAssetDet = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="NewAssetDetail()">ADD</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.editAsset" [clrModalClosable]="false" [clrModalSize]="md">
  <h3 class="modal-title">Edit Asset</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="assetForm">
      <clr-input-container>
        <label>Registration ID</label>
        <input formControlName="regid" clrInput style="width: 250px" />
      </clr-input-container>
      <clr-select-container>
        <label>Asset Type</label>
        <select clrSelect formControlName="type">
          <option *ngFor="let c of this._appService.TransactionService.listAssetDetail" value={{c.type}}>{{c.desc}}</option>
        </select>
      </clr-select-container>
      <clr-input-container>
        <label>Cell</label>
        <input formControlName="cell" clrInput style="width: 250px" />
      </clr-input-container>
      <clr-input-container>
        <label>Friendly Name</label>
        <input formControlName="frName" clrInput style="width: 250px" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.editAsset = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="UpdateAsset()">Update</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.newAsset" [clrModalClosable]="false" [clrModalSize]="md">
  <h3 class="modal-title">New Asset</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="assetForm">
      <clr-input-container>
        <label>Registration ID</label>
        <input formControlName="regid" clrInput style="width: 250px" />
      </clr-input-container>
      <clr-select-container>
        <label>Asset Type</label>
        <select clrSelect formControlName="type">
          <option></option>
          <option *ngFor="let c of this._appService.TransactionService.listAssetDetail" value={{c.type}}>{{c.desc}}</option>
        </select>
      </clr-select-container>
      <clr-input-container>
        <label>Cell</label>
        <input formControlName="cell" clrInput style="width: 250px" />
      </clr-input-container>
      <clr-input-container>
        <label>Friendly Name</label>
        <input formControlName="frName" clrInput style="width: 250px" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.newAsset = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="NewAsset()">Add</button>
  </div>
</clr-modal>
