<div class="main-container">
  <div class="content-container">
    <nav class="sidenav">
      <section class="sidenav-content">
        <a class="nav-link" (click)="ShowEmployees() " id="emp">
          Add/Manage Employees
        </a>
        <a class="nav-link" (click)="ShowDep()" id="dep">
          Add/Manage Departments
        </a>
        <a class="nav-link" (click)="ShowWork()" id="work">
          <span style="word-break:break-word"> Add/Manage Work From Home Groups</span>
        </a>
      </section>
    </nav>
    <div class="content-area">
      <div class="clr-row" *ngIf="this._employees">
        <div class="clr-col-12">
          <div class="clr-row">
            <div class="clr-col-10"></div>
            <div class="clr-col-2">
              <button class="btn btn-success-outline" (click)="OpenNewEmployee()">New Employee</button>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-12">
              <clr-datagrid>
                <clr-dg-column>
                  NAME
                  <clr-dg-string-filter [clrDgStringFilter]="employeeNameFilter"></clr-dg-string-filter>
                </clr-dg-column>
                <clr-dg-column>
                  SURNAME
                  <clr-dg-string-filter [clrDgStringFilter]="employeeSurnameFilter"></clr-dg-string-filter>
                </clr-dg-column>
                <clr-dg-column>CELL</clr-dg-column>
                <clr-dg-column>EMAIL</clr-dg-column>
                <clr-dg-column>
                  DEPARTMENT
                  <clr-dg-string-filter [clrDgStringFilter]="employeeDepFilter"></clr-dg-string-filter>
                </clr-dg-column>
                <clr-dg-column>
                  <span style="word-break:break-all">Work From Home Group</span>
                  <clr-dg-string-filter [clrDgStringFilter]="employeeWorkGroupFilter"></clr-dg-string-filter>
                </clr-dg-column>
                <clr-dg-column style="width:30px">
                  <span style="word-break:break-all">OWNLAPTOP</span>
                  &nbsp;&nbsp;&nbsp;<span (click)="SortLaptopField()"><clr-icon shape="sort-by"></clr-icon></span>
                </clr-dg-column>
                <clr-dg-column style="width:30px">
                  <span style="word-break:break-all">OWNWIFI</span>
                  &nbsp;&nbsp;&nbsp;<span (click)="SortWifiField()"><clr-icon shape="sort-by"></clr-icon></span>
                </clr-dg-column>
                <clr-dg-column *ngIf="false">CREATEBY</clr-dg-column>
                <clr-dg-column *ngIf="false">CREATEDATE</clr-dg-column>
                <clr-dg-column *ngIf="false">CHANGEBY</clr-dg-column>
                <clr-dg-column *ngIf="false">CHANGEDATE</clr-dg-column>
                <clr-dg-column>EDIT/DELETE</clr-dg-column>
                <clr-dg-row *clrDgItems="let emp of  this._appService.TransactionService.employeeList" [clrDgItem]="emp">
                  <clr-dg-cell style="word-break:break-all">{{emp.name}}</clr-dg-cell>
                  <clr-dg-cell style="word-break:break-all">{{emp.surname}}</clr-dg-cell>
                  <clr-dg-cell>{{emp.cell}}</clr-dg-cell>
                  <clr-dg-cell>{{emp.email}}</clr-dg-cell>
                  <clr-dg-cell>{{emp.depDesc}}</clr-dg-cell>
                  <clr-dg-cell style="word-break:break-all">{{emp.groupDesc}}</clr-dg-cell>
                  <clr-dg-cell>
                    <input type="checkbox" clrCheckbox [checked]="emp.laptop" disabled style="width:100px" />
                  </clr-dg-cell>
                  <clr-dg-cell>
                    <input type="checkbox" clrCheckbox [checked]="emp.wifi" disabled style="width:100px" />
                  </clr-dg-cell>
                  <clr-dg-cell *ngIf="false" style="word-break:break-all">{{emp.createBy}}</clr-dg-cell>
                  <clr-dg-cell *ngIf="false">{{emp.createDate}}</clr-dg-cell>
                  <clr-dg-cell *ngIf="false" style="word-break:break-all">{{emp.changeby}}</clr-dg-cell>
                  <clr-dg-cell *ngIf="false">{{emp.changeDate}}</clr-dg-cell>
                  <clr-dg-cell>
                    <button class="btn btn-icon btn-Secondary btn-sm" type="submit"
                            (click)="EditEmployee(emp)">
                      <clr-icon shape="pencil"></clr-icon>
                    </button>
                    <clr-checkbox-wrapper>
                      <input type="checkbox" clrCheckbox (change)="DeleteEmployee(emp)" id="empDelete" [checked]="emp.deleted" />
                      <label>Deleted</label>
                    </clr-checkbox-wrapper>
                  </clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>{{this._appService.TransactionService.employeeList.length}} employees</clr-dg-footer>
              </clr-datagrid>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row" *ngIf="this._department">
        <div class="clr-col-12">
          <div class="clr-row">
            <div class="clr-col-10"></div>
            <div class="clr-col-2">
              <button class="btn btn-success-outline" (click)="OpenNewDep()">New Department</button>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-12">
              <clr-datagrid>
                <clr-dg-column>
                  DEPARTMENT
                  <clr-dg-string-filter [clrDgStringFilter]="customStringFilter"></clr-dg-string-filter>
                </clr-dg-column>
                <clr-dg-column *ngIf ="false">CREATEBY</clr-dg-column>
                <clr-dg-column *ngIf ="false">CREATEDATE</clr-dg-column>
                <clr-dg-column *ngIf ="false">CHANGEBY</clr-dg-column>
                <clr-dg-column *ngIf ="false">CHANGEDATE</clr-dg-column>
                <clr-dg-column>EDIT/DELETE</clr-dg-column>
                <clr-dg-row *clrDgItems="let dep of this._appService.TransactionService.departmentList" [clrDgItem]="dep">
                  <clr-dg-cell>{{dep.desc}}</clr-dg-cell>
                  <clr-dg-cell *ngIf ="false">{{dep.createBy}}</clr-dg-cell>
                  <clr-dg-cell *ngIf ="false">{{dep.createDate}}</clr-dg-cell>
                  <clr-dg-cell *ngIf ="false">{{dep.changeBy}}</clr-dg-cell>
                  <clr-dg-cell *ngIf ="false">{{dep.changeDate}}</clr-dg-cell>
                  <clr-dg-cell>
                    <button class="btn btn-icon btn-Secondary btn-sm" type="submit"
                            (click)="EditDepartment(dep)">
                      <clr-icon shape="pencil"></clr-icon>
                    </button>
                    <clr-checkbox-wrapper>
                      <input type="checkbox" clrCheckbox (change)="DeleteDepartment(dep)" id="depDelete" [checked]="dep.deleted" />
                      <label>Deleted</label>
                    </clr-checkbox-wrapper>
                  </clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>{{this._appService.TransactionService.departmentList.length}} departments</clr-dg-footer>
              </clr-datagrid>
            </div>
          </div>
          </div>
        </div>
      <div class="clr-row" *ngIf="this._workGroup">
        <div class="clr-col-12">
          <div class="clr-row">
            <div class="clr-col-10"></div>
            <div class="clr-col-2">
              <button class="btn btn-success-outline" (click)="OpenNewGroup()">New Work Group</button>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-12">
              <clr-datagrid>
                <clr-dg-column>
                  GROUP
                  <clr-dg-string-filter [clrDgStringFilter]="customStringFilterG"></clr-dg-string-filter>
                </clr-dg-column>
                <clr-dg-column *ngIf ="false">CREATEBY</clr-dg-column>
                <clr-dg-column *ngIf ="false">CREATEDATE</clr-dg-column>
                <clr-dg-column *ngIf ="false">CHANGEBY</clr-dg-column>
                <clr-dg-column *ngIf ="false">CHANGEDATE</clr-dg-column>
                <clr-dg-column>EDIT/DELETE</clr-dg-column>
                <clr-dg-row *clrDgItems="let group of this._appService.TransactionService.workGroupList" [clrDgItem]="group">
                  <clr-dg-cell>{{group.desc}}</clr-dg-cell>
                  <clr-dg-cell *ngIf ="false">{{group.createBy}}</clr-dg-cell>
                  <clr-dg-cell *ngIf ="false">{{group.createDate}}</clr-dg-cell>
                  <clr-dg-cell *ngIf ="false">{{group.changeBy}}</clr-dg-cell>
                  <clr-dg-cell *ngIf ="false">{{group.changeDate}}</clr-dg-cell>
                  <clr-dg-cell>
                    <button class="btn btn-icon btn-Secondary btn-sm" type="submit"
                            (click)="EditWorkGroup(group)">
                      <clr-icon shape="pencil"></clr-icon>
                    </button>
                    <clr-checkbox-wrapper>
                      <input type="checkbox" clrCheckbox (change)="DeleteWorkGroup(group)" id="grpDelete" [checked]="group.deleted" />
                      <label>Deleted</label>
                    </clr-checkbox-wrapper>
                  </clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>{{this._appService.TransactionService.workGroupList.length}} WorkGroups</clr-dg-footer>
              </clr-datagrid>
            </div>
          </div>
          </div>

        </div>
      </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="this._appService.TransactionService.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p style="align-self:center">
      <span class="spinner">
        Loading...
      </span>
    </p>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.editEmp" [clrModalClosable]="false" [clrModalSize]="md">
  <h3 class="modal-title">Edit Employee</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="empForm">
      <clr-input-container>
        <label>Name</label>
        <input formControlName="name" clrInput style="width: 250px" />
      </clr-input-container>
      <clr-input-container>
        <label>Surname</label>
        <input formControlName="surname" clrInput style="width: 250px" />
      </clr-input-container>
      <clr-input-container>
        <label>Cell</label>
        <input formControlName="cell" clrInput style="width: 250px" />
      </clr-input-container>
      <clr-input-container>
        <label>Email</label>
        <input formControlName="email" clrInput style="width: 250px" />
      </clr-input-container>
      <clr-select-container>
        <label>Department</label>
        <select clrSelect formControlName="dep">
          <option *ngFor="let d of this._appService.TransactionService.departmentList" value={{d.id}}>{{d.desc}}</option>
        </select>
      </clr-select-container>
      <clr-select-container>
        <label>Work From Home Group</label>
        <select clrSelect formControlName="grp">
          <option *ngFor="let w of this._appService.TransactionService.workGroupList" value={{w.id}}>{{w.desc}}</option>
        </select>
      </clr-select-container>
      <clr-toggle-wrapper>
        <input type="checkbox" clrToggle formControlName="laptop" />
        <label>Has Own Laptop</label>
      </clr-toggle-wrapper>
      <clr-toggle-wrapper>
        <input type="checkbox" clrToggle formControlName="wifi" />
        <label>Has Own Wifi</label>
      </clr-toggle-wrapper>
      <clr-toggle-wrapper>
        <input type="checkbox" clrToggle formControlName="uncaped" />
        <label>Has Uncapped Wifi</label>
      </clr-toggle-wrapper>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.editEmp = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="UpdateEmployee()">Update</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.editGroup" [clrModalClosable]="false" [clrModalSize]="md">
  <h3 class="modal-title">Edit Department</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="groupForm">
      <clr-input-container>
        <label>Description</label>
        <input formControlName="description" clrInput style="width: 250px" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.editGroup = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="UpdateGroup()">Update</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.editDep" [clrModalClosable]="false" [clrModalSize]="md">
  <h3 class="modal-title">Edit Department</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="depForm">
      <clr-input-container>
        <label>Description</label>
        <input formControlName="description" clrInput style="width: 250px" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.editDep = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="UpdateDepartment()">Update</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.newEmp" [clrModalClosable]="false" [clrModalSize]="md">
  <h3 class="modal-title">New Employee</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="empForm">
      <clr-input-container>
        <label>Name</label>
        <input formControlName="name" clrInput style="width: 250px" />
      </clr-input-container>
      <clr-input-container>
        <label>Surname</label>
        <input formControlName="surname" clrInput style="width: 250px" />
      </clr-input-container>
      <clr-input-container>
        <label>Cell</label>
        <input formControlName="cell" clrInput style="width: 250px" />
      </clr-input-container>
      <clr-input-container>
        <label>Email</label>
        <input formControlName="email" clrInput style="width: 250px" />
      </clr-input-container>
      <clr-select-container>
        <label>Department</label>
        <select clrSelect formControlName="dep">
          <option *ngFor="let d of this._appService.TransactionService.departmentList" value={{d.id}}>{{d.desc}}</option>
        </select>
      </clr-select-container>
      <clr-select-container>
        <label>Work From Home Group</label>
        <select clrSelect formControlName="grp">
          <option *ngFor="let w of this._appService.TransactionService.workGroupList" value={{w.id}}>{{w.desc}}</option>
        </select>
      </clr-select-container>
      <clr-toggle-wrapper>
        <input type="checkbox" clrToggle formControlName="laptop" />
        <label>Has Own Laptop</label>
      </clr-toggle-wrapper>
      <clr-toggle-wrapper>
        <input type="checkbox" clrToggle formControlName="wifi" />
        <label>Has Own Wifi</label>
      </clr-toggle-wrapper>
      <clr-toggle-wrapper>
        <input type="checkbox" clrToggle formControlName="uncaped" />
        <label>Has Uncapped Wifi</label>
      </clr-toggle-wrapper>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.newEmp = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="NewEmployee()">ADD</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.newGroup" [clrModalClosable]="false" [clrModalSize]="md">
  <h3 class="modal-title">New Work From Home Group</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="groupForm">
      <clr-input-container>
        <label>Description</label>
        <input formControlName="description" clrInput style="width: 250px" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.newGroup = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="NewGroup()">ADD</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.newDep" [clrModalClosable]="false" [clrModalSize]="md">
  <h3 class="modal-title">New Department</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="depForm">
      <clr-input-container>
        <label>Description</label>
        <input formControlName="description" clrInput style="width: 250px" />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.newDep = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="NewDepartment()">ADD</button>
  </div>
</clr-modal>
<!--<div class="clr-row">
  <div class="clr-col-lg-3">
    <div class="clr-row">
      <div class="clr-col-12">
        <br />
        <br />
        <br />
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-12">
        <span>ADD/MANAGE EMPLOYESS</span>
      </div>
    </div>
    <br />
    <br />
    <div class="clr-row">
      <div class="clr-col-12">
        <span>ADD/MANAGE DEPARTMENTS</span>
      </div>
    </div>
    <br />
    <br />
    <div class="clr-row">
      <div class="clr-col-12">
        <span>ADD/MANAGE WORKGROUPS</span>
      </div>
    </div>
    <br />
    <br />
  </div>
    <div class="clr-col-lg-9">

    </div>
  </div>-->
