<div class="clr-row">
  <div class="clr-col-1"></div>
  <div class="clr-col-10">
    <div class="alert alert-info" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">Click on any record to view the employee's asset assignment history.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col-1"></div>
</div>
<br />
<div class="clr-row">
  <div class="clr-col-1"></div>
  <div class="clr-col-10">
    <div class="clr-row">
      <div class="clr-col-2" *ngFor="let c of this._appService.TransactionService.unassignedList">
        <span style="font-weight:bolder;color:forestgreen;font-size:x-small">{{c.available}}</span>&nbsp; <span style="font-weight:bolder;font-size:x-small">{{c.name}} Available</span>
</div>
    </div>
  </div>
  <div class="clr-col-1"></div>
</div>

<br />
<div class="clr-row">
  <div class="clr-col-1"></div>
  <div class="clr-col-10">

    <clr-datagrid class="datagrid-compact">
      <clr-dg-column style="width:115px">
        <span style="word-break:break-all">EMPLOYEE NAME</span>
        <clr-dg-string-filter [clrDgStringFilter]="dashNameFilter"></clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column style="width:115px">
        <span style="word-break:break-all"> EMPLOYEE SURNAME</span>
        <clr-dg-string-filter [clrDgStringFilter]="dashNameFilter"></clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column style="width:150px">
        <span style="word-break:break-all"> DEPARTMENT</span>
        <clr-dg-string-filter [clrDgStringFilter]="dashDepFilter"></clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column style="width:150px">
        <span style="word-break:break-word"> WORK FROM HOME GROUP</span>
        <clr-dg-string-filter [clrDgStringFilter]="dashWorkGroupFilter"></clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column style="width:100px">
        <span style="word-break:break-word">OWN LAPTOP</span>
        &nbsp;&nbsp;&nbsp;<span (click)="SortLaptopField()"><clr-icon shape="sort-by"></clr-icon></span>
      </clr-dg-column>
      <clr-dg-column style="width:100px">
        <span style="word-break:break-word">OWN WIFI</span>
        &nbsp;&nbsp;&nbsp;<span (click)="SortWifiField()"><clr-icon shape="sort-by"></clr-icon></span>
      </clr-dg-column>

      <clr-dg-column style="width:100px">
        PAMC LAPTOP
      </clr-dg-column>
      <clr-dg-column style="width:100px">
        PAMC DONGLE
      </clr-dg-column>
      <clr-dg-column style="width:100px">
        PAMC SCREEN
      </clr-dg-column>

      <clr-dg-row *clrDgItems="let item of this._appService.TransactionService.dashList" [clrDgItem]="item" (click)="GetAssetHistory(item)">

        <clr-dg-cell *ngIf="(item.pamcDongle || item.pamcLaptop || item.pamcScreen)" style="background-color:#CCFBFF"><span style="font-size:x-small">{{item.name}}</span></clr-dg-cell>
        <clr-dg-cell *ngIf="(item.pamcDongle || item.pamcLaptop || item.pamcScreen)" style="background-color:#CCFBFF"><span style="font-size:x-small">{{item.surname}}</span></clr-dg-cell>
        <clr-dg-cell *ngIf="(item.pamcDongle || item.pamcLaptop || item.pamcScreen)" style="background-color:#CCFBFF"><span style="font-size:x-small">{{item.department}}</span></clr-dg-cell>
        <clr-dg-cell *ngIf="(item.pamcDongle || item.pamcLaptop || item.pamcScreen)" style="background-color:#CCFBFF"><span style="font-size:x-small">{{item.group}}</span></clr-dg-cell>
        <clr-dg-cell *ngIf="(item.pamcDongle || item.pamcLaptop || item.pamcScreen)" style="background-color:#CCFBFF"><span style="font-size:x-small">
  <input type="checkbox" clrCheckbox [checked]="item.laptop" disabled style="width:200px"/>
 
</span></clr-dg-cell>
        <clr-dg-cell *ngIf="(item.pamcDongle || item.pamcLaptop || item.pamcScreen)" style="background-color:#CCFBFF"><span style="font-size:x-small">
  <input type="checkbox" clrCheckbox [checked]="item.wifi" disabled style="width:200px"/>

</span></clr-dg-cell>
        <clr-dg-cell *ngIf="(item.pamcDongle || item.pamcLaptop || item.pamcScreen)" style="background-color:#CCFBFF">
          <input type="checkbox" clrCheckbox [checked]="item.pamcLaptop" disabled style="width:100px"/>
        </clr-dg-cell>
        <clr-dg-cell *ngIf="(item.pamcDongle || item.pamcLaptop || item.pamcScreen)" style="background-color:#CCFBFF">
          <input type="checkbox" clrCheckbox [checked]="item.pamcDongle" disabled style="width:100px"/>
        </clr-dg-cell>
        <clr-dg-cell *ngIf="(item.pamcDongle || item.pamcLaptop || item.pamcScreen)" style="background-color:#CCFBFF">

          <input type="checkbox" clrCheckbox [checked]="item.pamcScreen" disabled style="width:100px"/>

        </clr-dg-cell>

        <clr-dg-cell *ngIf="!(item.pamcDongle || item.pamcLaptop || item.pamcScreen)"><span style="font-size:x-small">{{item.name}}</span></clr-dg-cell>
        <clr-dg-cell *ngIf="!(item.pamcDongle || item.pamcLaptop || item.pamcScreen)"><span style="font-size:x-small">{{item.surname}}</span></clr-dg-cell>
        <clr-dg-cell *ngIf="!(item.pamcDongle || item.pamcLaptop || item.pamcScreen)"><span style="font-size:x-small">{{item.department}}</span></clr-dg-cell>
        <clr-dg-cell *ngIf="!(item.pamcDongle || item.pamcLaptop || item.pamcScreen)"><span style="font-size:x-small">{{item.group}}</span></clr-dg-cell>
        <clr-dg-cell *ngIf="!(item.pamcDongle || item.pamcLaptop || item.pamcScreen)"><span style="font-size:x-small">
           <input type="checkbox" clrCheckbox [checked]="item.laptop" disabled style="width:100px"/>
         </span></clr-dg-cell>
        <clr-dg-cell *ngIf="!(item.pamcDongle || item.pamcLaptop || item.pamcScreen)">
        <input type="checkbox" clrCheckbox [checked]="item.wifi" disabled style="width:100px"/>


</clr-dg-cell>
        <clr-dg-cell *ngIf="!(item.pamcDongle || item.pamcLaptop || item.pamcScreen)" >
          <input type="checkbox" clrCheckbox [checked]="item.pamcLaptop" disabled style="width:100px"/>
        </clr-dg-cell>
        <clr-dg-cell *ngIf="!(item.pamcDongle || item.pamcLaptop || item.pamcScreen)" >
          <input type="checkbox" clrCheckbox [checked]="item.pamcDongle" disabled style="width:100px"/>
        </clr-dg-cell>
        <clr-dg-cell *ngIf="!(item.pamcDongle || item.pamcLaptop || item.pamcScreen)">

          <input type="checkbox" clrCheckbox [checked]="item.pamcScreen" disabled style="width:100px"/>

        </clr-dg-cell>

      </clr-dg-row>

    </clr-datagrid>

  </div>
  <div class="clr-col-1"></div>
</div>


<clr-modal [(clrModalOpen)]="this.openHist" [clrModalSize]="'lg'" [clrModalClosable]="true">
  <h3 class="modal-title">Asset Assignment History</h3>
  <div class="modal-body">
    <br />
    <clr-datagrid>
      <clr-dg-column>
        EMPLOYEE
        <clr-dg-string-filter [clrDgStringFilter]="employeeNameFilter"></clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column>
        ASSET
        <clr-dg-string-filter [clrDgStringFilter]="employeeNameFilter"></clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column>
        REGISTER ID

        <clr-dg-string-filter [clrDgStringFilter]="employeeNameFilter"></clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column>
        FRIENDLY NAME
        <clr-dg-string-filter [clrDgStringFilter]="assetFriendlyFilter"></clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column>
        FROM DATE
        <clr-dg-string-filter [clrDgStringFilter]="assignDateFilter"></clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column>
        TO DATE
        <clr-dg-string-filter [clrDgStringFilter]="assignDateFilter"></clr-dg-string-filter>
      </clr-dg-column>
      <clr-dg-column *ngIf="false">CREATEBY</clr-dg-column>
      <clr-dg-column *ngIf="false">CREATEDATE</clr-dg-column>
      <clr-dg-column *ngIf="false">CHANGEBY</clr-dg-column>
      <clr-dg-column *ngIf="false">CHANGEDATE</clr-dg-column>
      <clr-dg-column >EDIT</clr-dg-column>
      <clr-dg-row *clrDgItems="let dep of this._appService.TransactionService.assetHist" [clrDgItem]="dep">
        <clr-dg-cell>{{dep.empName}}</clr-dg-cell>
        <clr-dg-cell>{{dep.assetName}}</clr-dg-cell>
        <clr-dg-cell>{{dep.assetRegId}}</clr-dg-cell>
        <clr-dg-cell>{{dep.frName}}</clr-dg-cell>
        <clr-dg-cell>{{dep.fromDate | date: "yyyy/MM/dd"}}</clr-dg-cell>
        <clr-dg-cell>{{dep.toDate | date: "yyyy/MM/dd"}}</clr-dg-cell>
        <clr-dg-cell *ngIf="false">{{dep.createBy}}</clr-dg-cell>
        <clr-dg-cell *ngIf="false">{{dep.createDate}}</clr-dg-cell>
        <clr-dg-cell *ngIf="false">{{dep.changeBy}}</clr-dg-cell>
        <clr-dg-cell *ngIf="false">{{dep.changeDate}}</clr-dg-cell>
        <clr-dg-cell>
          <button class="btn btn-icon btn-Secondary btn-sm" type="submit"
                  (click)="OpenEdit(dep)">
            <clr-icon shape="pencil"></clr-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
    <br />
    <br />
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.TransactionService.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p style="align-self:center">
      <span class="spinner">
        Loading...
      </span>
    </p>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.openEdit" [clrModalClosable]="false" [clrModalSize]="md">
  <h3 class="modal-title">Edit Asset Assignment</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="assignForm">
      <clr-date-container>
        <label>From Date</label>
        <input type="date" formControlName="from" clrDate>
      </clr-date-container>
      <clr-date-container>
        <label>To Date</label>
        <input type="date" formControlName="to" clrDate>
      </clr-date-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.openEdit = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="UpdateAssetAssign()">Update</button>
  </div>
</clr-modal>
