<head>
  <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
</head>
<!--Displaying different headings-->
<div>
  <clr-main-container *ngIf="!this._appService.LoginService.IsLoggedIn">
    <clr-header>
      <div class="branding">
        <div *ngIf="this._appService.LoginService.IsLoggedIn == false">

        </div>
      </div>
    </clr-header>
    <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
    </div>
  </clr-main-container>
</div>
<div>
  <clr-main-container style="width:100%" *ngIf="this._appService.LoginService.IsLoggedIn">
    <clr-header style="width:auto">
      <div class="branding">
        <div *ngIf="this._appService.LoginService.IsLoggedIn == true">
          <a href="#" class="nav-link">
            <span class="title" style="word-wrap: break-all">Employee Asset Management</span>
          </a>
        </div>
      </div>
      <div class="header-nav"
           [clr-nav-level]="1" *ngIf="this._appService.LoginService.IsLoggedIn == true && this.router.url !== '/login'">
        <a class="nav-link" href="#" [routerLink]="['/dashboard']" routerLinkActive="active" (click)="this._appService.TransactionService.GetDashView()">
          <span class="nav-text">Dashboard</span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/employees']" routerLinkActive="active">
          <span class="nav-text">Manage Employees</span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/assets']" routerLinkActive="active">
          <span class="nav-text">Manage Assets</span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/emp_assets']" routerLinkActive="active">
          <span class="nav-text">Asset Assignment</span>
        </a>

      </div>
      <div class="header-actions" *ngIf="this._appService.LoginService.IsLoggedIn == true  && this.router.url !== '/login'">
        <a class="nav-link" href="#" routerLinkActive="active">
          <span class="nav-text">Log Out</span>
        </a>
      </div>
    </clr-header>
    <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
    </div>

  </clr-main-container>
</div>


<clr-modal [(clrModalOpen)]="this._appService.TransactionService.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p style="align-self:center">
      <span class="spinner">
        Loading...
      </span>
    </p>
  </div>
</clr-modal>

<!--Modal that will pop up if a subscription in services hits an error-->
<div *ngIf="this._appService.LoginService.ErrorOccurance == true">
  <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">PAMC-Portal Has Stopped Working</h3>
        </div>
        <div class="modal-body">
          <p>A problem has caused the program to stop working correctly.</p>
          <p>
            For assistance on this matter contact our network department
            on
            <a href="mailto:network@dentalrisk.com">network@dentalrisk.com</a> or phone on 012 - 741 5101
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" (click)="this._appService.LoginService.PageReload()">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!--Password Change Modal-->

<!--Update Confirmation Message-->





