
<div class="main-container">
  <div class="content-container">
    <nav class="sidenav">
      <section class="sidenav-content">
        <a class="nav-link" id="asset" (click)="ShowAssetAssign() ">
          <span style="word-break:break-word">Add/Manage Assets Assignments</span>
        </a>
        <a class="nav-link" id="unassign" (click)="ShowUnassign() ">
          View Unassigned Assets
        </a>
      </section>
    </nav>
    <div class="content-area">

        <div class="clr-row" *ngIf="this.assetAssign">
          <div class="clr-col-12">
            <div class="clr-row">
              <div class="clr-col-10"></div>
              <div class="clr-col-2">
                <button class="btn btn-success-outline" (click)="OpenNew()">New Asset Assignment</button>
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-12">
                <clr-datagrid>
                  <clr-dg-column>
                    EMPLOYEE
                    <clr-dg-string-filter [clrDgStringFilter]="employeeNameFilter"></clr-dg-string-filter>
                  </clr-dg-column>
                  <clr-dg-column>
                    ASSET
                    <clr-dg-string-filter [clrDgStringFilter]="employeeNameFilter"></clr-dg-string-filter>
                  </clr-dg-column>
                  <clr-dg-column>
                    REGISTER ID

                    <clr-dg-string-filter [clrDgStringFilter]="employeeNameFilter"></clr-dg-string-filter>
                  </clr-dg-column>
                  <clr-dg-column>
                    FRIENDLY NAME
                    <clr-dg-string-filter [clrDgStringFilter]="assetFriendlyFilter"></clr-dg-string-filter>
                  </clr-dg-column>
                  <clr-dg-column>
                    FROM DATE
                    <clr-dg-string-filter [clrDgStringFilter]="assignDateFilter"></clr-dg-string-filter>
                  </clr-dg-column>
                  <clr-dg-column>
                    TO DATE
                    <clr-dg-string-filter [clrDgStringFilter]="assignDateFilter"></clr-dg-string-filter>
                  </clr-dg-column>
                  <clr-dg-column *ngIf="false">CREATEBY</clr-dg-column>
                  <clr-dg-column *ngIf="false">CREATEDATE</clr-dg-column>
                  <clr-dg-column *ngIf="false">CHANGEBY</clr-dg-column>
                  <clr-dg-column *ngIf="false">CHANGEDATE</clr-dg-column>
                  <clr-dg-column>EDIT</clr-dg-column>
                  <clr-dg-row *clrDgItems="let dep of this._appService.TransactionService.assetAssignList" [clrDgItem]="dep">
                    <clr-dg-cell>{{dep.empName}}</clr-dg-cell>
                    <clr-dg-cell>{{dep.assetName}}</clr-dg-cell>
                    <clr-dg-cell>{{dep.assetRegId}}</clr-dg-cell>
                    <clr-dg-cell>{{dep.frName}}</clr-dg-cell>
                    <clr-dg-cell>{{dep.fromDate | date: "yyyy/MM/dd"}}</clr-dg-cell>
                    <clr-dg-cell>{{dep.toDate | date: "yyyy/MM/dd"}}</clr-dg-cell>
                    <clr-dg-cell *ngIf="false">{{dep.createBy}}</clr-dg-cell>
                    <clr-dg-cell *ngIf="false">{{dep.createDate}}</clr-dg-cell>
                    <clr-dg-cell *ngIf="false">{{dep.changeBy}}</clr-dg-cell>
                    <clr-dg-cell *ngIf="false">{{dep.changeDate}}</clr-dg-cell>
                    <clr-dg-cell>
                      <button class="btn btn-icon btn-Secondary btn-sm" type="submit"
                              (click)="EditAssetAssign(dep)">
                        <clr-icon shape="pencil"></clr-icon>
                      </button>
                    </clr-dg-cell>
                  </clr-dg-row>

                  <clr-dg-footer>{{this._appService.TransactionService.assetAssignList.length}} Assets Assigned</clr-dg-footer>
                </clr-datagrid>
              </div>
            </div>

          </div>
        </div>

      <div class="clr-row" *ngIf="this.unassign">
        <div class="clr-col-12">
          <div class="clr-row">
            <div class="clr-col-10"></div>
            <div class="clr-col-2">

            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-12">
              <clr-datagrid>
                <clr-dg-column>
                  FRIENDLY NAME
                  <clr-dg-string-filter [clrDgStringFilter]="assetFrName"></clr-dg-string-filter>
                </clr-dg-column>
                <clr-dg-column>
                  DESCRIPTION
                  <clr-dg-string-filter [clrDgStringFilter]="assetName"></clr-dg-string-filter>
                </clr-dg-column>
                <clr-dg-column>REGISTER ID

                  <clr-dg-string-filter [clrDgStringFilter]="assetRegId"></clr-dg-string-filter></clr-dg-column>
                <clr-dg-column>
                  CELL
                  <clr-dg-string-filter [clrDgStringFilter]="assetCell"></clr-dg-string-filter>
                </clr-dg-column>
                <clr-dg-row *clrDgItems="let dep of this._appService.TransactionService.unassignedAssets" [clrDgItem]="dep">
                  <clr-dg-cell>{{dep.frName}}</clr-dg-cell>
                  <clr-dg-cell>{{dep.desc}}</clr-dg-cell>
                  <clr-dg-cell>{{dep.regId}}</clr-dg-cell>
                  <clr-dg-cell>{{dep.cell}}</clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>{{this._appService.TransactionService.unassignedAssets.length}} asset details</clr-dg-footer>
              </clr-datagrid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<clr-modal [(clrModalOpen)]="this.openEdit" [clrModalClosable]="false" [clrModalSize]="md">
  <h3 class="modal-title">Edit Asset Assignment</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="assignForm">
      <clr-date-container>
        <label>From Date</label>
        <input type="date" formControlName="from" clrDate>
      </clr-date-container>
      <clr-date-container>
        <label>To Date</label>
        <input type="date" formControlName="to" clrDate>
      </clr-date-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.openEdit = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="UpdateAssetAssign()">Update</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.openNew" [clrModalClosable]="false" [clrModalSize]="'xl'">
  <h3 class="modal-title">New Asset Assignment</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-6">
        <clr-datagrid>
          <clr-dg-column>
            NAME
            <clr-dg-string-filter [clrDgStringFilter]="empNameFilter"></clr-dg-string-filter>
          </clr-dg-column>
          <clr-dg-column>
            SURNAME
            <clr-dg-string-filter [clrDgStringFilter]="empSurFilter"></clr-dg-string-filter>
          </clr-dg-column>
          <clr-dg-column>EMAIL</clr-dg-column>
          <clr-dg-column>..</clr-dg-column>

          <clr-dg-row *clrDgItems="let emp of this._appService.TransactionService.employeeList" [clrDgItem]="emp">
            <clr-dg-cell *ngIf="emp.assigned" style="background:#F8B7B6;word-break: break-all ">{{emp.name}}</clr-dg-cell>
            <clr-dg-cell *ngIf="emp.assigned" style="background:#F8B7B6;word-break: break-all ">{{emp.surname}}</clr-dg-cell>
            <clr-dg-cell *ngIf="emp.assigned" style="background:#F8B7B6;word-break: break-all ">{{emp.email}}</clr-dg-cell>
            <clr-dg-cell *ngIf="!emp.assigned" style="word-break: break-all">{{emp.name}}</clr-dg-cell>
            <clr-dg-cell *ngIf="!emp.assigned" style="word-break: break-all">{{emp.surname}}</clr-dg-cell>
            <clr-dg-cell *ngIf="!emp.assigned" style="word-break: break-all">{{emp.email}}</clr-dg-cell>
            <clr-dg-cell>
              <input type="checkbox" clrCheckbox (change)="SelectEmployee(emp,$event)" [checked]="emp.selected" />
            </clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>{{this._appService.TransactionService.employeeList.length}} Employees</clr-dg-footer>
        </clr-datagrid>
      </div>
      <div class="clr-col-6">
        <clr-datagrid>
          <clr-dg-column>
            REGID
            <clr-dg-string-filter [clrDgStringFilter]="assetRegId"></clr-dg-string-filter>
          </clr-dg-column>
          <clr-dg-column>
            CELL
            <clr-dg-string-filter [clrDgStringFilter]="assetCell"></clr-dg-string-filter>
          </clr-dg-column>
          <clr-dg-column>
            DESCRIPTION
            <clr-dg-string-filter [clrDgStringFilter]="assetName"></clr-dg-string-filter>
          </clr-dg-column>
          <clr-dg-column>
            FRIENDLY NAME
            <clr-dg-string-filter [clrDgStringFilter]="assetFrName"></clr-dg-string-filter>
          </clr-dg-column>
          <clr-dg-column>..</clr-dg-column>

          <clr-dg-row *clrDgItems="let a of this._appService.TransactionService.listAssets" [clrDgItem] ="a">
            <clr-dg-cell *ngIf="a.assigned" style="background:#F8B7B6; word-break:break-all"><span style="font-size:x-small">{{a.regId}}</span></clr-dg-cell>
            <clr-dg-cell *ngIf="a.assigned" style="background:#F8B7B6;word-break:break-all"><span style="    font-size: x-small">{{a.cell}}</span></clr-dg-cell>
            <clr-dg-cell *ngIf="a.assigned" style="background:#F8B7B6;word-break:break-all"><span style="    font-size: x-small">{{a.desc}}</span></clr-dg-cell>
            <clr-dg-cell *ngIf="a.assigned" style="background:#F8B7B6;word-break:break-all"><span style="    font-size: x-small">{{a.frName}}</span></clr-dg-cell>
            <clr-dg-cell *ngIf="!a.assigned" style="word-break: break-all"><span style="    font-size: x-small">{{a.regId}}</span></clr-dg-cell>
            <clr-dg-cell *ngIf="!a.assigned" style="word-break: break-all"><span style="    font-size: x-small">{{a.cell}}</span></clr-dg-cell>
            <clr-dg-cell *ngIf="!a.assigned" style="word-break: break-all"><span style="    font-size: x-small">{{a.desc}}</span></clr-dg-cell>
            <clr-dg-cell *ngIf="!a.assigned" style="word-break: break-all"><span style="    font-size: x-small">{{a.frName}}</span></clr-dg-cell>
            <clr-dg-cell>
              <input type="checkbox" clrCheckbox (change)="SelectAsset(a,$event)" [checked]="a.selected" />
            </clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>{{this._appService.TransactionService.listAssets.length}} Assets</clr-dg-footer>
        </clr-datagrid>
      </div>
    </div>

    <!--<form clrForm [formGroup]="assetDetForm">
      <clr-select-container>
        <label>Employee</label>
        <select clrSelect formControlName="employee">
          <option *ngFor="let e of this._appService.TransactionService.employeeList" value="{{e.id}}">{{e.name}}&nbsp;{{e.surname}}</option>
        </select>
      </clr-select-container>
      <clr-select-container>
        <label>Asset</label>
        <select clrSelect formControlName="asset">
          <option *ngFor="let e of this._appService.TransactionService.unassignedAssets" value="{{e.id}}">
            {{e.desc}}&nbsp;-&nbsp;{{e.regId}}
            &nbsp;-&nbsp;{{e.frName}}
          </option>
        </select>
      </clr-select-container>
      <clr-date-container>
        <label>From Date</label>
        <input type="date" formControlName="from" clrDate>
      </clr-date-container>
      <clr-date-container>
        <label>To Date</label>
        <input type="date" formControlName="to" clrDate>
      </clr-date-container>
    </form>-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.openNew = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="this.openDates = true;this.assignForm.reset();this.openNew = false">ADD</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.openDates" [clrModalClosable]="false" [clrModalSize]="md">
  <h3 class="modal-title">Add Dates</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="assignForm">
      <clr-date-container>
        <label>From Date</label>
        <input type="date" formControlName="from" clrDate>
      </clr-date-container>
      <clr-date-container>
        <label>To Date</label>
        <input type="date" formControlName="to" clrDate>
      </clr-date-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.openDates = false;this.openNew = true;">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="AddNewDates()">ADD</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.TransactionService.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p style="align-self:center">
      <span class="spinner">
        Loading...
      </span>
    </p>
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="this.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p style="align-self:center">
      <span class="spinner">
        Loading...
      </span>
    </p>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.assignErr" [clrModalSize]="'md'" [clrModalClosable]="true">
  <div class="modal-body">
  
      <div class="alert alert-danger" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">WARNING !!!! <br /> Please take note that the EMPLOYEE or ASSET selected is already assigned.</span>
          </div>
        </div>
      </div>
    
  </div>
</clr-modal>
